[data-theme="dark"] {
  --foreground: #ededed;
  --surface: #1e2227;
  --border: rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .custom-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
[data-theme="dark"] .custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
[data-theme="dark"] .custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
