@import "tailwindcss";
@import "./themes/light.css";
@import "./themes/dark.css";
@import "../components/button/button.base.css";
@import "../components/card/card.base.css";
@import "../components/menu/menu.base.css";
@import "../components/navList/navList.base.css";
@import "../components/badge/badge.base.css";
@import "../components/typography/typography.base.css";
@import "../components/chip/chip.base.css";
@import "../components/dialog/dialog.base.css";
@import "../components/divider/divider.base.css";
@import "../components/table/table.base.css";
@import "../components/drawer/drawer.base.css";
@import "../components/sideMenu/sideMenu.base.css";

@import "./profiles/dev/index.css";
@import "./profiles/designer/index.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-major: var(--font-major);
  --font-fira: var(--font-fira);
}

html {
  font-size: 0.6rem;
}
@media (min-width: 640px) {
  html {
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 1rem;
  }
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  color: var(--foreground);
  font-family: var(--font-major), monospace;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.current-zap {
  position: fixed;
  height: 2px;
  width: 100px;
  opacity: 0;
  z-index: -1;
  animation: zapHorizontal 0.3s ease-out;
}
.current-zap-vertical {
  position: fixed;
  width: 2px;
  height: 100px;
  opacity: 0;
  z-index: -1;
  animation: zapVertical 0.3s ease-out;
}

@keyframes zapHorizontal {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes zapVertical {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-right {
  animation: slideFromRight 0.3s ease-out 1s both;
}
.slide-left {
  animation: slideFromLeft 0.3s ease-out 1s both;
}
.slide-down {
  animation: slideInFromUp 0.3s ease-out forwards;
}
.slide-down-hidden {
  opacity: 0;
  transform: translateY(-100px);
}

.loader {
  width: 105px;
  height: 60px;
  outline: 3px solid var(--foreground);
  background: radial-gradient(farthest-side, #000 90%, #0000) 0 0/12px 12px
      no-repeat,
    linear-gradient(var(--foreground) 0 0) 50%/15px 100% no-repeat,
    conic-gradient(from 90deg at 15px 15px, #0000 90deg, var(--foreground) 0),
    conic-gradient(from -90deg at 90px 45px, #0000 90deg, var(--foreground) 0);
  animation: l4 2s infinite;
}
@keyframes l4 {
  0% {
    background-position: 0 0, 50%;
    clip-path: circle(22.5px at left 6px top 6px);
  }
  12.5% {
    background-position: 50% 0, 50%;
    clip-path: circle(22.5px at left 50% top 6px);
  }
  25% {
    background-position: 50% 100%, 50%;
    clip-path: circle(22.5px at left 50% bottom 6px);
  }
  37.5% {
    background-position: 100% 100%, 50%;
    clip-path: circle(22.5px at right 6px bottom 6px);
  }
  50% {
    background-position: 100% 0, 50%;
    clip-path: circle(22.5px at right 6px top 6px);
  }
  62.5% {
    background-position: 50% 0, 50%;
    clip-path: circle(22.5px at right 50% top 6px);
  }
  75% {
    background-position: 50% 100%, 50%;
    clip-path: circle(22.5px at right 50% bottom 6px);
  }
  82.5% {
    background-position: 0 100%, 50%;
    clip-path: circle(22.5px at left 6px bottom 6px);
  }
  100% {
    background-position: 0 0, 50%;
    clip-path: circle(22.5px at left 6px top 6px);
  }
}
