[data-profile="dev"] {
  --background: #282c33;
}

[data-profile="dev"] body {
  background-color: var(--background);
}

[data-profile="dev"] .current-zap {
  background: linear-gradient(90deg, transparent, #00d4ff, transparent);
}
[data-profile="dev"] .current-zap-vertical {
  background: linear-gradient(180deg, transparent, #00ff88, transparent);
}
